@model IEnumerable<BTLLTQL.Models.LoaiSanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Loại Sản Phẩm</h2>

<p>
    @Html.ActionLink("Thêm Mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenLoaiSanPham)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenLoaiSanPham)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.MaLoaiSanPham }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.MaLoaiSanPham }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.MaLoaiSanPham })
        </td>
    </tr>
}

</table>
