@model BTLLTQL.Models.DanhGia

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/KhachHang/Views/Shared/_Layout.cshtml";
}

<h2>Xóa</h2>

<h3>Bạn có chắc chắn muốn xóa đánh giá này không ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.khachhang.TenKhachHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.khachhang.TenKhachHang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SanPham.MaLoaiSanPham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SanPham.MaLoaiSanPham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ngay_Gio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngay_Gio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoiDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiDung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sđt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sđt)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở lại", "Index")
        </div>
    }
</div>
