@model IEnumerable<BTLLTQL.Models.Khachhang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenKhachHang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sđt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Diachi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hinh1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenKhachHang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sđt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Diachi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hinh1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaKH }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaKH }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaKH })
        </td>
    </tr>
}

</table>
