@model IEnumerable<BTLLTQL.Models.NhaSanXuat>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Nhà Sản Xuất</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenNhaSanXuat)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenNhaSanXuat)
        </td>
        <td>
            @Html.ActionLink("Chỉnh Sửa", "Edit", new { id=item.MaNhaSanXuat }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.MaNhaSanXuat }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.MaNhaSanXuat })
        </td>
    </tr>
}

</table>
